
$color-error: #ea3323; // 警告色
$color-pass: #7ed321; // 通过色

$color-text-title: #333333; // 正文和标题
$color-text-sub: #666666; // 次要文字
$color-text-tip: #999999; // 辅助类文字
$color-placeholder: #aaaaaa; //输入框提示文字

// 分割线
$line-apart-color: #ddd;
$line-apart-lighter-color: #eee;